.footer {
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
    max-width: 100%;
    overflow-x: hidden;
  
    @media (min-width: 640px) {
      padding: 2rem;
    }
  
    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
  
      a {
        color: #000080; 
        transition: color 0.3s ease;
  
        &:hover {
        transform: scale(1.1);
          color: #333; 
        }
  
        svg {
          width: 1.5rem;
          height: 1.5rem;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  